body{
    margin: 0;
    padding: 0;
}
.wrapper{
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
}
.top-nav{
    box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.1);
    min-height: 71px;
}
.logo{
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 20px;
    width: 18.6%;
    background-color: #263544;
    box-shadow: 0 2px 4px 0 rgba(17, 17, 17, 0.1);
}
.logo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15pt;
}
.right{
    float: left;
    line-height: 30px;
    min-height: 30px;
    padding: 16px;
    width: 76.4%;
}
.search{
    float: left;
    width: 40%;
    padding-left: 40px;
}
.search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 90%;
    padding-left: 10px;
  }
.login{
    float: right;
    margin-right: 100px;
}
.login a{
    text-decoration: none;
    font-size: 13pt;
    text-transform: uppercase;
    color: black;
}
.menu {
    float: left;
    width: 12%;
    min-height: 650px;
    background-color: #263544;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #263544;
    height: 100%;
}   
li a, .dropdown-btn {
    padding: 15px 8px 15px 20px;
    text-decoration: none;
    font-size: 15pt;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(204, 201, 201);
}
li:hover{
    background-color: black;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #324355;
  }
  .dropdown-container a:hover{
    color: black;
  }

  /* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 15px;
    color: white;
  }
  /* Add an active class to the active dropdown button */
.active {
    background-color: black;
    color: white;
}

